.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.container{
    max-width: 100% !important;
    padding-left: none !important;
    padding-right: none !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

@media (min-width: 1200px){
    .container {
        width: 100% !important;
        padding-left: none !important;
        padding-right: none !important;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.navbar-custom {
    background: transparent;
}


.navbar-custom .logo img {
    padding: 15px;
    max-width: 100%;
    height: auto;
}

.navbar-custom .logo {
    float: left;
    padding-right: 40px;
    width: 100%;
}

.navbar-custom .navbar-toggle {
    position: absolute;
    right: 15px;
    top: 15px;
    border: 0px;
    width: 50px;
    margin: 0;
}

.navbar-custom .icon-bar {
    width: 100%;
    margin: 5px 0;
    height: 3px;
}


.navbar-custom.navbar {
    height: 200px
}

.custom_container{
    max-width: 100%;
}

.navbar-custom .custom_container {
    position: relative;
    overflow: visible;
}

.navbar-custom .navbar-nav {
    text-align: center;
    width: 100%;
    background-color: #3d5b77;
    margin-top: 165px;
}

.navbar-custom .navbar-nav > li {
    display: inline-block;
    float: none;
}

.nav.navbar-nav>li>a{
    color:#FFF;
    text-decoration: none;
}

.nav.navbar-nav>li>a:hover{
    color:#3d5b77;
}

.navbar-custom .logo {
    position: absolute;
    background: url(../images/Assets/FundaLogo.png) transparent no-repeat center center;
    background-color: transparent;
    height: 134px;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 5000;
    display: block;
    float: none;
    padding: 0;
}

.navbar-custom .logo:before,
.navbar-custom .logo:after {
    position: absolute;
    background: #fff;
    content: '';
    left: -2000px;
    width: 2000px;
    bottom: 0;
    display: block;
    height: 100%;
}

.navbar-custom .logo:after {
    left: auto;
    right: -2000px;
}

/*SECTION 1*/

.section_1{
    width: 100%;
    height: 500px;
    margin-top: -5px;
}

.main-video-container{
    height: 500px;
}

.brand{
    display: inline-block;
    width: 100%;
    height: 90px;
    background-color: #3d5b77;
}
.brand>ul{
    display: inline-block;
}
.brand>ul>li{
    list-style-type: none;
    display: inline-block;
    margin-left: 45px;
    margin-top: 5px;
}

/*SECTION2*/

.section_2{
    width: 100%;
    height: 500px;
}

.section_2 .custom_container{
    width: 100%;
    height: 500px;
    margin-top: 90px;
    position: absolute;
}

.visitor{
    background: url(../images/visitor.jpg) transparent no-repeat center right;
    width: 50%;
    height: 455px;
    background-size: cover;
}

.host{
    background: url(../images/host.jpg)transparent no-repeat center left;
    width: 50%;
    height: 456px;
    background-size: cover;
}
.red-bar{
    width: 100%;
    height: 50px;
    background-color: #960000;
    position: relative;
    margin-top: 406px;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.sub-container-1,.sub-container-2{
    width: 100%;
    color:#FFF;
    background-color: #960000;
    margin-top: 400px;
    opacity: 0.7;
    height: 55px;
}

.sub-container-1 h2{
    margin-left: 220px;
    margin-top: 5px;
}

.sub-container-2 h2{
    margin-left: 220px;
    margin-top: 5px;
}

/*SECTION 3*/

.section_3{
    width: 100%;
    height: 300px;
}

.fundaLogo{
    background: url(../images/Assets/FundaLogo.png) transparent no-repeat center center;
    background-color: transparent;
    height: 134px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.como-funciona{
    background:url(../images/como-funciona.png) #523977 no-repeat center center;
    width: 100%;
    height: 330px;
}