<section class="section_1" ng-controller="mainVideoController">
    <div class="container">
        <div class="main-video-container" >
            <youtube-video video-url="mainVideo" player-width="'100%'" player-height="'100%'"></youtube-video>
        </div>
        <div class="brand">
            <ul>
                <li><img ng-src="/images/brands/brand-1.png"></li>
                <li><img ng-src="/images/brands/brand-2.png"></li>
                <li><img ng-src="/images/brands/brand-3.png"></li>
                <li><img ng-src="/images/brands/brand-4.png"></li>
                <li><img ng-src="/images/brands/brand-1.png"></li>
                <li><img ng-src="/images/brands/brand-2.png"></li>
                <li><img ng-src="/images/brands/brand-3.png"></li>
            </ul>
        </div>
    </div>
</section>
<section class="section_2">
    <div class="container">
        <div class="custom_container">
            <div class="visitor pull-right">
                <div class="sub-container-1">
                    <h2> VISITANTES </h2>
                </div>
            </div>
            <div class="host pull-left">
                <div class="sub-container-2">
                    <h2> ANFITRIONES </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section_3">
    <div class="container">
        <div class="fundaLogo"></div>
        <div class="como-funciona"></div>
    </div>

</section>
